.eventcard{
   
    overflow-y: auto;
    max-height: 430px;
    
    
    }
    .eventpost-card {
        display: flex;
        /* Horizontally center the content */
        height: auto;
        /* width: 100%;  */
        margin: 0; /* No margin */
       ; /* White background */
        padding: 10px;
        /* Hide any overflow outside the container */
      }
      